.text-danger{
    font-family: 'Princess Sofia', cursive;
    color: #e5904d!important;
    text-shadow: 1px 1px black;
}

#s1_header{background: #1e1109} 
#s2_about{background: #F6EBEB} 
#s3_menus{background:  #F6EBEB} 
#s5_brochures{background:  #F6EBEB} 
#s4_learn{background:#26221f } 

/*---s1_header---*/
#s1_header{
    background: url("pics/pic1.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#s1_headerBookOrder{
    background: url("pics/PIC\ 1.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/*---s2_about---*/
.s2_about_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "img-selfpotrait img-selfpotrait img-selfpotrait"
        "hd-about hd-about hd-about"
        "txt-about txt-about txt-about";
}
.img-selfpotrait{
    grid-area: img-selfpotrait;
    grid-column: 2/3;
}
.hd-about{
    grid-area: hd-about;
    text-align: center;
}
.txt-about{
    grid-area: txt-about;
    line-height: 2;
    text-align: center;
}
@media (min-width: 768px){
    .s2_about_grid{  
        grid-template-areas: 
            "img-selfpotrait hd-about hd-about"
            "img-selfpotrait txt-about txt-about"
            "img-selfpotrait txt-about txt-about";
    }
    .img-selfpotrait{
        grid-column: 1/2;
    }
    .hd-about{
        text-align: left;
        padding-left: 20px;
    }
    .txt-about{

        padding-left: 20px;
    }
}

/*---s3_menus---*/
.myGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
@media (max-width: 768px){
    .myGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .mySubGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 15px;
    }
}
@media (max-width: 576px){
    .myGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .mySubGrid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

/*---s4_learn---*/